{% extends 'base.html.twig' %}

{% block title %}Alta nuevos empleados{% endblock %}

{% block body %}

	<h1>Alta nuevos empleados</h1>
	<p>Página de inicio</p>
    {{ form(form, {'attr': {'class':'form-horizontal'}}) }}

{% endblock %}