{% extends 'base.html.twig' %}

{% block title %}Secciones{% endblock %}

{% block body %}

	<h1>Secciones empleados</h1>
	<p>Lista de secciones</p>
    {{ form(form, {'attr': {'class':'form-horizontal'}}) }}

{% endblock %}